<h1>V自通話作成画面</h1>
<p>POSTサンプル</p>
  
<form method="post" action="/conference/create">
 <p>
 電話番号1：<input type="text" name="phone_number1" /><br />
 電話番号2：<input type="text" name="phone_number2" /><br />
 <input type="submit" value="発信" />
 </p>
</form>
